<div class="background-container">
  <img src="assets/nube.png" class="cloud cloud-1" />
  <img src="assets/nube.png" class="cloud cloud-2" />
  <img src="assets/nube.png" class="cloud cloud-3" />
  <img src="assets/nube.png" class="cloud cloud-4" />
  <img src="assets/nube.png" class="cloud cloud-5" />
  <img src="assets/nube.png" class="cloud cloud-6" />
  <img src="assets/logo.png" class="logo" />

  <div class="login-container">
    <mat-card class="login-card">
      <h2 class="inicio">Bienvenido a <br />KoalaFiles</h2>

      <form [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo electrónico</mat-label>
          <input matInput formControlName="email" type="email" required />
          <mat-error *ngIf="loginForm.get('email')?.invalid"
            >Campo requerido</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password" required />
          <mat-error *ngIf="loginForm.get('password')?.invalid"
            >Campo requerido</mat-error
          >
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="button"
          class="login-btn"
          [disabled]="loginForm.invalid"
          (click)="onLogin()"
        >
          <mat-icon>login</mat-icon> Entrar
        </button>

        <div class="links">
          <a routerLink="/forgot-password">¿Olvidaste tu contraseña?</a>
          <span> | </span>
          <a routerLink="/register" routerLinkActive="active-link"
            >Registrarse</a
          >
        </div>
      </form>
    </mat-card>
  </div>
</div>
