<div class="home-container">
  <header class="hero">
    <img src="assets/nube.png" class="cloud cloud-1" />
    <img src="assets/nube.png" class="cloud cloud-2" />
    <img src="assets/nube.png" class="cloud cloud-3" />
    <img src="assets/nube.png" class="cloud cloud-4" />
    <img src="assets/nube.png" class="cloud cloud-5" />
    <img src="assets/nube.png" class="cloud cloud-6" />
    <img src="assets/nube.png" class="cloud cloud-7" />
    <img src="assets/nube.png" class="cloud cloud-8" />
    <img src="assets/basico-gb.png" class="basico-koala" />
    <img src="assets/nube.png" class="cloud cloud-9" />

    <div>
      <img src="assets/paquetes1.png" alt="paquete" class="paquetes" />
    </div>
    <h1>Bienvenido a <span class="brand">KoalaFiles</span></h1>
    <p class="tagline">
      Tu nube kawaii para guardar, organizar y compartir tus archivos
    </p>
    <div class="hero-buttons">
      <button routerLink="/login" class="btn login">
        <mat-icon>login</mat-icon>

        Iniciar sesión
      </button>
      <button routerLink="/register" class="btn register">
        <mat-icon>person_add</mat-icon> Registrarse
      </button>
    </div>
  </header>

  <section class="features">
    <h2>🌟 Beneficios de usar KoalaFiles</h2>
    <ul>
      <li>📁 Almacenamiento seguro y confiable</li>
      <li>🧸 Interfaz amigable y adorable</li>
      <li>💫 Acceso desde cualquier dispositivo</li>
      <li>🌈 Paquetes flexibles: Gratis, Básico y Premium</li>
    </ul>
  </section>
</div>
