@use "@angular/material" as mat;
mat-toolbar {
  @include mat.elevation(3);
  position: relative;
  z-index: 5;
}
.welcome{

  margin: 20px;
}

mat-sidenav {
  width: 250px;
  background: linear-gradient(to bottom right, #ffeefc, #cbe9f3);
}
.content {
  padding: 24px;
}

mat-sidenav-container {
  height: 100vh;
}
.user-info {
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
  gap: 12px;
  font-weight: bold;
  color: #6e6e6e;
}
