mat-list-item {
  color: #ffb6c1 !important;
  font-weight: 500;
  padding: 10px 16px;
  transition: background-color 0.2s;
}

mat-list-item:hover {
  background-color: rgba(81, 79, 79, 0.15);
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
}
mat-list-item .mat-icon {
  color: #ffb6c1 !important; /* el color que quieras */
}
.list-icon {
  color: #ffb6c1 !important; /* el color que quieras */
}

mat-icon {
  margin-right: 8px;
}

.logo {
  margin: 10px;
  width: 141px;
  height: 101px;
  align-items: center;
}
h2 {
  text-align: center;
}
.hide-header-text {
  opacity: 0;
}
.container-logo {
  display: flex;
  justify-content: center;
  margin-top: 1rem; // opcional
}
.CrearCarpeta {
  background-color: #ffb6c1 !important;
  color: white !important;
}

.subirArchivo {
  color: white !important;
  background-color: #97d9f5 !important;
}
.dashboard-content .controls {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 20px;
}
