.new-btn {
  width: 100%;
  margin-bottom: 1rem;
}

.my-divider {
  margin: 0.5rem 0;
}
mat-list-item {
  padding: 0.75rem 1rem;
  font-size: 15px;
  
}

mat-icon[matListIcon] {
  margin-right: 0.75rem;
  font-size: 22px;
}

span[matLine] {
  white-space: nowrap;
  
}



