<mat-nav-list>
      <button mat-stroked-button color="primary" class="new-btn">
        <mat-icon>add</mat-icon> Nuevo
      </button>

      <mat-divider class="my-divider"></mat-divider>

      <mat-list-item *ngFor="let folder of folders">
        <mat-icon matListIcon>folder</mat-icon>
        <span matLine>{{ folder }}</span>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListIcon>access_time</mat-icon>
        <span matLine>Reciente</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>star</mat-icon>
        <span matLine>Destacados</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>delete</mat-icon>
        <span matLine>Papelera</span>
      </mat-list-item>
    </mat-nav-list>